CREATE TABLE [as_shedlock](
	[name] [varchar](64) NOT NULL,
	[lock_until] [datetime2](7) NOT NULL,
	[locked_at] [datetime2](7) NOT NULL,
	[locked_by] [varchar](255) NOT NULL,
 CONSTRAINT [as_shedlock_p_key] PRIMARY KEY NONCLUSTERED 
(
	[name] ASC
)
;